<div class="container body-top">

    {{#if image}}
    {{> images-list}}
    {{/if}}

    {{#if video}}
    {{> video-list}}
    {{/if}}

    {{#if audio}}
    {{> audio-list}}
    {{/if}}

    {{#if profile}}
    <div class="container body-top text-center">
        <div class="row">
            <div class="card w-100 mt-2">
                <div class="card-header">
                    <h3>Mis imagenes mas gustadas</h3>
                </div>
                <div class="card-body">
                    {{> images-list}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-100 mt-2">
                <div class="card-header">
                    <h3>Mis videos mas gustados</h3>
                </div>
                <div class="card-body">
                    {{> video-list}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-100 mt-2">
                <div class="card-header">
                    <h3>Mis audios mas gustados</h3>
                </div>
                <div class="card-body">
                    {{> audio-list}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}

</div>