<nav class="navbar navbar-light bg-light justify-content-between position-sticky" style="top: 0; z-index: 10239;">
  <a class="navbar-brand">Navbar</a>
  <a class="nav-link" href="/images">Imagenes</a>
  <a class="nav-link" href="/sounds">Audios</a>
  <a class="nav-link" href="/videos">Videos</a>
  <a class="nav-link" href="/upload" class="nav-link">Subir archivo</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>