<!-- The Modal -->
<div id="modal-upload" class="modal">
    <!-- Modal content -->
    <div class="content-modal d-flex justify-content-center align-items-center" style="width: 40%;height:30%;border-radius: 10px;margin-top: 10%">
        <div id="group-button" class="form-group text-center"></div>
    </div>
</div>