<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="d-flex justify-content-center">
            <div id="group-button" class="form-group"></div>
        </div>
    </div>
</div>