<div id="video-modal" class="modal">
    <!-- Modal content -->
    <div class="content-modal">
        <div class="close" onclick="closeModal()">&times;</div>
        <video class="video-modal" autoplay controls id="video-preview" src=""></video>
    </div>
</div>