<div id="video-modal" class="modal">
    <!-- Modal content -->
    <div class="content-modal">
        <div id="close" class="close" onclick="closeModal(this)">&times;</div>
        <div class="row">
            <div class="col-10 text-center">
                <video class="video-modal" autoplay controls id="video-preview" src=""></video>
            </div>
            <div class="col-2 mt-5">
                <div class="form-group">
                    <button class="btn btn-success">Agregar a carrito</button>
                </div>
              {{!--   <p class="font-weight-bold">Resolicion {{Height}}/{{width}}</p>
                <p class="font-weight-bold">Duracion {{min}}:{{seg}}</p> --}}
            </div>
        </div>
    </div>
</div>