<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
    {{!-- Custom CSS --}}
    <link rel="stylesheet" href="/public/assets/css/style.css">

    <link rel="icon" href="/public/assets/favicon.ico" type="image/x-icon">

    <title>Multimedia</title>
</head>

<body>
    {{>navbar}}

    {{!--     {{>right-sidebars}} --}}

    {{{ body }}}


    {{!-- Script --}}
    <script src="/public/js/script.js"></script>
</body>

</html>